DB_HOST=localhost
DB_USER=moussa
DB_PASS=moussa
DB_NAME=smart_ecommerce

GEMINI_KEYS=AIzaSyA32vUOBAQxSerFaGbjnIGiaB2wDA97oV4,AIzaSyB-zE0MiRcgYeAGg2L6Ae1HdA6UNhh8GTk,AIzaSyCTn22klm_lUcwrKuRm-ZnwEHNJCyanigQ

GROQ_KEYS=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,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,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,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,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,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,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,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,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,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,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,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,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,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,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,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