streamlit
pandas
pymysql
plotly
google-generativeai
groq
python-dotenv
scikit-learn
mlxtend
html2text
openpyxl
xgboost
requests
beautifulsoup4
numpy
networkx
kfp
psycopg2-binary
sqlalchemy
mysql-connector-python
cryptography
psycopg2-binary
pymysql
